In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./data/raw.csv')
df

     Unnamed: 0  Index Name  Gender  Ear  Area  Position   LV4   LV6   LV8
0             0      1   yd       0    0     0         1   4.2  20.5  37.3
1             1      1   yd       0    0     0         0  11.5  19.3  27.3
2             2      1   yd       0    0     0         2   3.3  13.3  25.1
3             3      1   yd       0    0     1         1   4.2  17.4  41.2
4             4      1   yd       0    0     1         0  17.0  30.4  39.3
..          ...    ...  ...     ...  ...   ...       ...   ...   ...   ...
175         175      6  chz       1    1     3         0  14.8  44.5  53.2
176         176      6  chz       1    1     3         2  12.4  36.3  39.9
177         177      6  chz       1    1     4         1   0.2  25.8  51.8
178         178      6  chz       1    1     4         0   4.3  27.0  39.5
179         179      6  chz       1    1     4         2  17.7  40.8  47.2

[180 rows x 10 columns]